name: CI

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  type-check:
    name: TypeScript ${{ matrix.typescript }}
    strategy:
      matrix:
        node: ['10.x']
        os: [ubuntu-latest]
        typescript: ['4.2.4', '4.3.5', '4.4.4', '4.5.5', '4.6.4', '4.7.4', '4.8.4', '4.9.4']
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v1

      - uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node }}

      - name: Cache YARN dependencies
        uses: actions/cache@v2
        with:
          path: |
            node_modules
          key: ${{ runner.OS }}-${{ matrix.node }}-yarn-cache-${{ hashFiles('yarn.lock') }}
          restore-keys: ${{ runner.OS }}-${{ matrix.node }}-yarn-cache-

      - run: yarn --no-progress --non-interactive --frozen-lockfile

      - run: yarn add typescript@${{ matrix.typescript }}
      - run: yarn setTsVersion
      - run: yarn test
